@import "compass/reset";

body {
  font-family: Helvetica;
  background-color: #28302c;
}
html, body, #main-region, #wrapper {
  height: 100%;
}

// for iPhones less than 5
@media screen and (device-aspect-ratio: 2/3) and (orientation:portrait) {
  #wrapper {
    position: relative;
    width: 200%;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 2;
    background-color: #ecf0f1;
    box-sizing: border-box;
    border-width: 0 0 3px 0;
    -webkit-border-image: -webkit-linear-gradient(left, red, orange, yellow, lime, #123EAC, #7109AB) 100% 1;
  }
  
  #selector {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    float: left;
  }
  
  #select-button {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 180px;
    margin-left: 110px;
    background-color: #1abc9c;
    color: #ecf0f1;
    -webkit-border-radius: 50px;
    
    &:active {
      background: -webkit-radial-gradient(-10px -10px, red, orange, yellow, lime);
    }
    #icon {
      margin: 16px 19px;
    }
  }
  
  
  #image-field {
    display: none;
  }
  
  #image-palette {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50%;
    float: left;
    height: 100%;
  }
  
  #target-image {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    margin: 5%;
    clip: rect(0px 288px 400px 0px);
  }
  
  #footer {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    height: 10%;
    width: 100%;
    z-index: 1;
    
    p {
      font-size: 0.8em;
      margin: 15px 0;
      text-align: center;
      color: #a2c48d;
      -webkit-text-shadow:1px 1px 2px #cc9f52;
      
      a {
        text-decoration: none;
        color: #e6c985;
      }
    }
  }
}

// for iPhone 5
@media screen and (device-aspect-ratio: 40/71) {
  #editor {
    min-height: 100px;
    background-color: blue;
  }
}