@import "compass/reset";
body {
  font-family: Helvetica;
}
html, body, #main-region, #wrapper {
  height: 100%;
}

// for iPhones less than 5
@media screen and (device-aspect-ratio: 2/3) and (orientation:portrait) {
  #editor {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    height: 100%;
    background-color: red;
    -webkit-box-shadow: 0px 5px 5px black;
    -webkit-transition: top 0.3s linear;
    z-index: 2;
  }
  
  #target-image {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    
  }
  
  #footer {
    position: relative;
    bottom: 10%;
    margin: 0 auto;
    height: 10%;
    background-color: blue;
    z-index: 1;
  }
  

}

// for iPhone 5
@media screen and (device-aspect-ratio: 40/71) {
  #editor {
    min-height: 100px;
    background-color: blue;
  }
}