@media screen and (device-aspect-ratio: 2/3) {
  #footer {
    position: absolute;
    left: 0px;
    bottom: -100px;
    right: 0px;
    min-width: 100%;
    height: 100px;
    background-color: blue;
    display: none;
  }
}