<div id="main-region">
</div>
<div id="footer">
  <p> Fun with Backbone + Marionette. By <a href="http://weibo.com/zisasign" target="_blank">Qiyuan</a>.</p>
</div>

<%= javascript_tag do %>
  $(function(){
    Color.start();
  });
<% end %>