<div id="main-region">
</div>
<div id="footer">
  <div class="container">
    <p> Fun with Backbone + Marionette. By <a href="http://weibo.com/zisasign" target="_blank">Qiyuan</a>.</p>
  </div>
</div>


<%= javascript_tag do %>
  $(function(){
    Color.start();
  });
<% end %>