<!DOCTYPE html>
<html>
<head>
  <title>Color</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/touch-icon-precomposed-iphone.png" />
  <link rel="apple-touch-startup-image" href="/assets/startup.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
